// Variables
$olive-light: #f4f5e7; // Fondo color oliva claro
$olive-dark: #3a3d27; // Texto y fondo enlaces en oliva oscuro
$olive: #6b8e23; // Fondo de encabezado y botón
$olive-medium: #556b2f; // Hover para enlaces y botón
$feature-bg: #e3e8cd; // Fondo para cada caja de característica
$white: #ffffff;
